.DS_Store

# Ignore Terraform files

*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
*.pem


# obsidian
.obsidian

# work file
work/

# track only this file in work directory
!work/학습/kice/CDS.md